@use 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');


:root {
  --background: var(--color-slate-100);
  --foreground: var(--color-slate-100);
  --primary: var(--color-slate-100);
  --foreground: var(--color-slate-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-slate-950);
    --foreground: var(--color-slate-100);
    --primary: var(--color-slate-100);
    --foreground: var(--color-slate-100);
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--foreground);
  --color-secondary: var(--foreground);
  --font-display: "Paytone One", serif;;
  --font-body: "Poppins", "sans-serif";
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-slate-200, currentColor);
    font-family: "Poppins", sans-serif;
    text-rendering: optimizeLegibility;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    background-image: url('/bg.svg') !important;
    background-attachment: fixed;
    background-size: cover;
  }

  .heading-text {
    font-family: "Paytone One", serif;
  }


  .box1{
    width: 185px;
    height: 185px;
    background-color:#fbad04;
    filter: blur(8px);
    display: block;
    border-radius: 50%;
    transform-origin: 75px 75px;
  animation: ball-animation 5s linear infinite;
  animation-duration: 2.5s;
  mix-blend-mode: plus-lighter;
  }

  .box2{
    width: 185px;
    height: 185px;
    background-color: #03a1d9;
    filter: blur(8px);
    display: block;
    border-radius: 50%;
    transform-origin: 75px 75px;
  animation: ball-animation 5s linear infinite;
  animation-duration: 5s;
  mix-blend-mode: plus-lighter;
  }

  .box3{
    width: 185px;
    height: 185px;
    background-color: #f7036d;
    filter: blur(8px);
    display: block;
    border-radius: 50%;
    transform-origin: 75px 75px;
  animation: ball-animation 5s linear infinite;
  animation-duration: 7.5s;
  mix-blend-mode: plus-lighter;
  }

  .box4{
    width: 185px;
    height: 185px;
    background-color: #93ff16;
    filter: blur(8px);
    display: block;
    border-radius: 50%;
    transform-origin: 75px 75px;
  animation: ball-animation 5s linear infinite;
  animation-duration: 7.5s;
  mix-blend-mode: plus-lighter;
  }

  .boxes div:nth-child(even) {
    animation-direction: reverse;
  }

  @keyframes ball-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* Ball animation ends here */

  .main-heading {
    will-change: transform, opacity;
  }

  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
  

  .gradient-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
  
    svg {
      position: fixed;
      top:0;
      left:0;
      width: 0;
      height: 0;
    }
  
  
    .gradients-container {
      filter: url(#goo) blur(40px) ;
      width: 100%;
      height: 100%;
    }
  
    .g1 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);
  
      transform-origin: center center;
      animation: moveVertical 30s ease infinite;
  
      opacity: 1;
    }
  
    .g2 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);
  
      transform-origin: calc(50% - 400px);
      animation: moveInCircle 20s reverse infinite;
  
      opacity: 1;
    }
  
    .g3 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2 + 200px);
      left: calc(50% - var(--circle-size) / 2 - 500px);
  
      transform-origin: calc(50% + 400px);
      animation: moveInCircle 40s linear infinite;
  
      opacity: 1;
    }
  
    .g4 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);
  
      transform-origin: calc(50% - 200px);
      animation: moveHorizontal 40s ease infinite;
  
      opacity: 0.7;
    }
  
    .g5 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: calc(var(--circle-size) * 2);
      height: calc(var(--circle-size) * 2);
      top: calc(50% - var(--circle-size));
      left: calc(50% - var(--circle-size));
  
      transform-origin: calc(50% - 800px) calc(50% + 200px);
      animation: moveInCircle 20s ease infinite;
  
      opacity: 1;
    }
  
    .interactive {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: 100%;
      height: 100%;
      top: -50%;
      left: -50%;
  
      opacity: 0.7;
    }
  }

  }