@use 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');


:root {
  --background: var(--color-slate-100);
  --foreground: var(--color-slate-100);
  --primary: var(--color-slate-100);
  --foreground: var(--color-slate-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-slate-950);
    --foreground: var(--color-slate-100);
    --primary: var(--color-slate-100);
    --foreground: var(--color-slate-100);
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--foreground);
  --color-secondary: var(--foreground);
  --font-display: "Paytone One", serif;;
  --font-body: "Poppins", "sans-serif";
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
    font-family: "Poppins", sans-serif;
    text-rendering: optimizeLegibility;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Poppins", sans-serif;
    font-weight: 200;
  }

  .heading-text {
    font-family: "Paytone One", serif;
  }


  .box1{
    width: 185px;
    height: 185px;
    background-color:#fbad04;
    filter: blur(8px);
    display: block;
    border-radius: 50%;
    transform-origin: 75px 75px;
  animation: ball-animation 5s linear infinite;
  animation-duration: 2.5s;
  mix-blend-mode: plus-lighter;
  }

  .box2{
    width: 185px;
    height: 185px;
    background-color: #03a1d9;
    filter: blur(8px);
    display: block;
    border-radius: 50%;
    transform-origin: 75px 75px;
  animation: ball-animation 5s linear infinite;
  animation-duration: 5s;
  mix-blend-mode: plus-lighter;
  }

  .box3{
    width: 185px;
    height: 185px;
    background-color: #f7036d;
    filter: blur(8px);
    display: block;
    border-radius: 50%;
    transform-origin: 75px 75px;
  animation: ball-animation 5s linear infinite;
  animation-duration: 7.5s;
  mix-blend-mode: plus-lighter;
  }

  .box4{
    width: 185px;
    height: 185px;
    background-color: #93ff16;
    filter: blur(8px);
    display: block;
    border-radius: 50%;
    transform-origin: 75px 75px;
  animation: ball-animation 5s linear infinite;
  animation-duration: 7.5s;
  mix-blend-mode: plus-lighter;
  }

  .boxes div:nth-child(even) {
    animation-direction: reverse;
  }

  @keyframes ball-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* Ball animation ends here */

  .main-heading {
    will-change: transform, opacity;
  }

  .btnn::after{
    content: '';
    width: 100%;
    height: 100%;
    position: relative;
    background-color: red;
  }

  }